
.Button {
  border: 0;

  background-color: hsl(218, 88%, 61%);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.Button:hover,
.Button:active,
.Button:focus {
  /* background-color: hsl(217, 88%, 52%); */
  background-color: hsl(218, 88%, 50%);
}

.Button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}